body {
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
  background-size: cover;
}

#all-body {
  margin: 0%;
}

#sidenav {
  height: 25%;
  width: 18%;
  position: fixed;
  box-sizing:border-box;
  top: 6%;
  transition: 0.5s;
  display: none;
}

#sidenav a {
  display: block;
  text-align: left;
  color: black;
  padding: 14px 16px;
  transition: all 0.3s ease;
  font-size: 20px;
  text-decoration: none;
  margin: 5%;
}

#closebtn {
  position: fixed;
  left: 0;
  top: 0%;
  margin-top: 2%;
  margin-left: 1%;
  color: black;
  border: none;
  font-size: 35px;
  background: none;
  text-decoration: none;
  background-color: white;
}

#openbtn {
  position: fixed;
  left: 0;
  top: 0%;
  margin-top: 2%;
  margin-left: 1%;
  color: black;
  border: none;
  font-size: 35px;
  background: none;
  text-decoration: none;
  padding: 0%;
  background-color: rgba(255, 255, 255, 0.3);
}

#sidenav a:hover {
  color: black;
  font-size: larger; 
}

.logo {
  color: #6C6B6B;
  text-align: center;
  padding: 14px 16px;
  box-sizing:border-box;
  margin-bottom: 20%;
  border-bottom: solid;
  border-color: #6C6B6B;
}

#main-about{
  background-size: cover;
  padding: 5%;
}

.about-box{
  margin: 5%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
}

.profile {
  grid-column: 1;
  grid-row: 2;
  height: 350px;
  width: 400px;
  object-fit:cover;
  margin: 5%;
  align-self: baseline;
  border-radius: 10%;
}

.about-side{
  grid-column: 2;
  grid-row: 2; 
}

.about-sub{
  color: black;
  font-size: 130%;
  font-family: 'EB Garamond', serif;
  margin-left: 25%;
  align-self:top;
}

.about-title {
  grid-column: 1;
  grid-row: 1;

  font-family: 'Roboto Slab', serif;
  font-size: 60px;
  letter-spacing: 6px;
  display: flexbox;
  text-align: left;
  overflow: hidden;
  border-right: .1em solid gray;

  white-space: nowrap;
  font-size: 3.7rem;

  animation: 
    typing-title .7s steps(20, end) forwards,
    blink-title .7s steps(20, end) forwards .7s;
}

.contact {
  border-top: solid;
  border-color: black;
  padding: 20px 2px;
  margin-left: 25%;
  letter-spacing: 20px;
  text-align: right;
}

.contact-links {
  object-fit: contain;
  border-radius: 10%;
}

.contact-links:hover {
  height: 160%;
  width: 160%;
  max-width: 30px;
  max-height: 30px;
  object-fit: contain;
}

@keyframes typing-title {
  from { width: 0 }
  to { width: 370px }
}

@keyframes blink-title {
  from,to { border-color: transparent }
  50% { border-color: gray; }
}

.more-about-title{
  font-family: 'Roboto Slab', serif;
  font-size: 60px;
  letter-spacing: 6px;
  text-align: left;
}

.about {
  text-align: justify;
  text-indent: 50px;
  margin-top: 0%;
  margin-left: 5%;
  margin-right: 5%;
  color: black;
  font-size: 130%;
  line-height: 150%;
  margin-bottom: 5%;
  font-family: 'EB Garamond', serif;
  letter-spacing: 0px;
}

.more-about{
  background-color: rgba(255, 255, 255, 0.8);
  border-color: white;
  border-style: solid;
}

#res-main {
  text-align: center;
  margin: 5%;
}

.resume-header {
  font-size: 200%;
  text-align: center;
  margin: 0%;
}

.resume-subheader {
  color: #6C6B6B;
  margin: 0%;
  margin-top: 2%;
}

h2 {
  border-bottom: 2px solid;
  margin-right: 5%;
  border-color: #6C6B6B;
  font-weight: 100;
  text-align: left;
}

.section-title {
  margin-top: 25px;
  text-align: left;
  line-height: 120%;
}

.section-subtitle {
  color: #6C6B6B;
  text-align: left;
  line-height: 110%;
}

.section-info {
text-align: left;
line-height: 120%;
margin: 0px;
font-size: 17px;
}

#projects-main {
  background-image: url("project-back.jpg");
  background-size: cover;
  margin: 0%;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#projects-title {
  padding-top: 5%;
  text-align: center;
  font-size: 400%;
  color: white;
  margin: 0%;
}

.project {
  background-size: cover;
}

.project-title {
  background-size:cover;
  color: white;
  font-size: 400%;
  margin: 2%;
  padding-top: 20vh;
  padding-left: 3vh;
}

#projects p:hover {
  transform: scale(0.95);
  transition: 0.3s;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: top;
  
}

.modal-content {
  background-color: #fff;
  padding: 2em;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  align-items: center;
  margin: 3%;
  overflow-y: auto;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5em;
  cursor: pointer;
  color: black;
}

.modal-title {
  font-family:'Franklin Gothic Medium', Arial, sans-serif;
  font-weight: 900;
  font-size: 30px;
}

.modal-description {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}

.modal-technologies {
  font-family:'Franklin Gothic Medium', Arial, sans-serif;
  font-weight: 900;
  font-size: 30px;
}

.tech {
  margin: 0%;
  padding: 0%;
  text-indent: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

.highlight {
  font-weight: 500;
}

@media (max-width: 400px) {
  #res-main {
    margin: 3%;
  }

  #main-about {
    margin: 0%;
  }

  .about-title {
    font-size: 35px;
  }

  .profile{
    height: 200px;
    width: 250px;
  }

  .about-box{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-side{
    grid-row: 3;
    grid-column: 1 / 3;
  }

  .about{
    margin: 0%;
    margin-bottom: 5%;
  }

  .more-about{
    margin: 0%;
    margin-bottom: 5%;
  }

}

@media (max-width: 900px) {
  .about-box{
    display: flex;
    flex-direction: column;
  }

  .about-side{
    grid-row: 3;
    grid-column: 1;
    margin: 0%;
  }

  .about-sub{
    margin: 0%;
    margin-bottom: 10px;
    text-align: center;
  }

  .contact{
    margin: 0%;
    margin-bottom: 10px;
  }

  .about-title{
    align-self: center;
  }

  .profile{
    align-self: center;
  }

}

