body {
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
  background-size: cover;
  margin: 0%;
  padding: 0%;
}

#all-body {
  padding: 0%;
  margin: 0%;
}

#sidenav {
  width: 100%;
  height: 40px;
  top: 0;
  position: fixed;
  box-sizing:border-box;
  transition: 0.5s;
  background-color: black;
  display: flex;
}

#pages {
  display: flex;
  align-self: center;
  margin: auto;
  gap: 60px;
  transition: 0.3s;
}

#sidenav a {
  color: white;
  transition: all 0.3s ease;
  font-size: 13px;
  letter-spacing: 1px;
  text-decoration: none;
  padding-top: 6px;
  font-weight: 100;
  font-family:'Segoe UI',sans-serif;
}

#sidenav a:hover {
  color: #66B2FF;
  cursor: pointer;
}

.logo {
  color: white;
  text-align: center;
  margin-left: 20px;
  align-self: center;
  font-size: 25px;
  margin-bottom: 0px;
  font-weight: 700;
  font-family:'Segoe UI', sans-serif;
  letter-spacing: 1px;
}

#main-about{
  background-size: cover;
  padding: 5%;
}

.about-box{
  display: flex;
  flex-direction: column;
}

.profile {
  height: 350px;
  width: 400px;
  object-fit:cover;
  border-radius: 10%;
  display: flex;
  align-self: center;
  transition: 0.3s;
}


.about-sub{
  color: black;
  font-size: 130%;
  font-family: 'EB Garamond', serif;
  display: flex;
  align-self: center;
  text-align: center;
  width: 400px;
  padding: 60px;
  padding-bottom: 10px;
  padding-top: 20px;
  border-bottom: solid;
  border-color: black;
  
}

.about-title {
  font-family: 'Roboto Slab', serif;
  font-size: 60px;
  letter-spacing: 6px;
  display: flexbox;
  text-align: left;
  overflow: hidden;
  border-right: .1em solid gray;
  align-self: center;

  white-space: nowrap;
  font-size: 3.7rem;

  animation: 
    typing-title .7s steps(20, end) forwards,
    blink-title .7s steps(20, end) forwards .7s;
}

.contact {
  letter-spacing: 20px;
  align-self: center;
  margin-left: 400px;
  
}

.contact-links {
  object-fit: contain;
  border-radius: 10%;
  height: 20px;
  width: 20px;
  transition: all 0.3s ease;
}

.contact-links:hover {
  height: 23px;
  width: 23px;
  object-fit: contain;
  cursor: pointer;
}

@keyframes typing-title {
  from { width: 0 }
  to { width: 370px }
}

@keyframes blink-title {
  from,to { border-color: transparent }
  50% { border-color: gray; }
}

.more-about-title{
  font-family: 'Roboto Slab', serif;
  font-size: 60px;
  letter-spacing: 6px;
  text-align: left;
}

.about {
  text-align: justify;
  text-indent: 50px;
  margin-top: 0%;
  margin-left: 5%;
  margin-right: 5%;
  color: black;
  font-size: 130%;
  line-height: 150%;
  margin-bottom: 5%;
  font-family: 'EB Garamond', serif;
  letter-spacing: 0px;
}

.more-about{
  background-color: rgba(255, 255, 255, 0.8);
  border-color: white;
  border-style: solid;
}

#projects-main {
  background-image: url("project-back.jpg");
  background-size: cover;
  margin: 0%;
  padding-bottom: 10%;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.project {
  background-size: cover;
  height: 45%;
  width: 80%;
  margin: 4%;
}

#projects-title {
  padding-top: 5%;
  text-align: center;
  font-size: 400%;
  color: white;
  margin: 0%;
}

.project-title {
  background-size:cover;
  color: white;
  font-size: 400%;
  margin: 2%;
  padding-top: 20vh;
  padding-left: 3vh;
}

#projects p:hover {
  transform: scale(0.95);
  transition: 0.3s;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: top;
  
}

.modal-content {
  background-color: #fff;
  padding: 2em;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  align-items: center;
  margin: 3%;
  overflow-y: auto;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5em;
  cursor: pointer;
  color: black;
}

.modal-title {
  font-family:'Franklin Gothic Medium', Arial, sans-serif;
  font-weight: 900;
  font-size: 30px;
}

.modal-description {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}

.modal-technologies {
  font-family:'Franklin Gothic Medium', Arial, sans-serif;
  font-weight: 900;
  font-size: 30px;
}

.tech {
  margin: 0%;
  padding: 0%;
  text-indent: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

.highlight {
  font-weight: 500;
}

#timeline-main {
  text-align: center;
  margin: 10%;
}

#timeline-head {
  text-align: center;
  font-size: 55px;
  margin: 0px;
  padding: 0px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#timeline-sub {
  text-align: center;
  font-size: 25px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #606060;
  font-weight: 100;
}

#timeline-img {
  width: 100%; 
  max-width: 100%; 
  height: auto;
}

#contact-main {
  background-image: url("three.jpg");
  background-size: cover;
  padding: 0%;
  margin: 0%;
}

.contact-sub {
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.email {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.email:hover {
  text-decoration: underline;
}

#contact-title {
  color: white;
  padding: 5%;
  margin: 0%;
  margin-top: 3%;
  font-weight: 700;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  font-size: 60px;
}

#contact-head {
  display: flex;
  flex-direction: column;
  justify-content: center;   /* Horizontally centers the items */
  align-items: center;       /* Ensure the container takes the full height of the viewport */
  text-align: center;
  margin: 0%;
}


#contact-form {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15%;
  gap: 30px;
  margin-bottom: 0%;
}


#contact-main form input {
  height: 5vh;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#contact-main form textarea {
  height: 30vh;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#contact-main form button {
  width: 40%;
  height: 60px;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  border: none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: center;
  margin-bottom: 20%;
}

#contact-main form button:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {

  #pages {
    gap: 10px;
    transition: 0.3s;
  }

  #sidenav a {
    font-size: 12px;
  }

  #sidenav a:hover {
    font-size: 12px;
  }

  .about-sub {
    width: auto;
    padding: 20px;
    margin: 0%;
  }

  .contact{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 0%;
    padding-top: 20px;
    justify-content: flex-end;
    margin-left: auto;
  }

  .about-title {
    font-size: 55px;
  }

  .profile{
    transition: 0.3s;
    height: 250px;
    width: 300px;
    border-radius: 5%;
  }

  .logo {
    display: none;
  }

  #contact-form {
    margin: 20px;
    margin-bottom: 0%;
  }

  #contact-main form button {
    width: 70%;
    font-size: 14px;
  }

}
@media (max-width: 750px) {
  #pages {
    gap: 30px;
    transition: 0.3s;
    
  }
}
