body {
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
  background-size: cover;
  margin: 0%;
  padding: 0%;
}

#all-body {
  padding: 0%;
  margin: 0%;
}

#sidenav {
  width: 100%;
  height: 50px;
  top: 0;
  position: fixed;
  box-sizing:border-box;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
}

#pages {
  display: flex;
  margin-left: auto;
  margin-right: 15px;
  align-self: center;
}

#sidenav a {
  text-align: right;
  color: white;
  transition: all 0.3s ease;
  font-size: 20px;
  text-decoration: none;
  margin-right: 15px;
}

#sidenav a:hover {
  color: white;
  font-size: 25px; 
  cursor: pointer;
}

.logo {
  color: white;
  text-align: center;
  margin-left: 30px;
  align-self: center;
  font-size: 18px;
}

#main-about{
  background-size: cover;
  padding: 5%;
}

.about-box{
  margin: 5%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
}

.profile {
  grid-column: 1;
  grid-row: 2;
  height: 350px;
  width: 400px;
  object-fit:cover;
  margin: 5%;
  align-self: baseline;
  border-radius: 10%;
}

.about-side{
  grid-column: 2;
  grid-row: 2; 
}

.about-sub{
  color: black;
  font-size: 130%;
  font-family: 'EB Garamond', serif;
  margin-left: 25%;
  align-self:top;
}

.about-title {
  grid-column: 1;
  grid-row: 1;

  font-family: 'Roboto Slab', serif;
  font-size: 60px;
  letter-spacing: 6px;
  display: flexbox;
  text-align: left;
  overflow: hidden;
  border-right: .1em solid gray;

  white-space: nowrap;
  font-size: 3.7rem;

  animation: 
    typing-title .7s steps(20, end) forwards,
    blink-title .7s steps(20, end) forwards .7s;
}

.contact {
  border-top: solid;
  border-color: black;
  padding: 20px 2px;
  margin-left: 25%;
  letter-spacing: 20px;
  text-align: right;
}

.contact-links {
  object-fit: contain;
  border-radius: 10%;
}

.contact-links:hover {
  height: 160%;
  width: 160%;
  max-width: 30px;
  max-height: 30px;
  object-fit: contain;
  cursor: pointer;
}

@keyframes typing-title {
  from { width: 0 }
  to { width: 370px }
}

@keyframes blink-title {
  from,to { border-color: transparent }
  50% { border-color: gray; }
}

.more-about-title{
  font-family: 'Roboto Slab', serif;
  font-size: 60px;
  letter-spacing: 6px;
  text-align: left;
}

.about {
  text-align: justify;
  text-indent: 50px;
  margin-top: 0%;
  margin-left: 5%;
  margin-right: 5%;
  color: black;
  font-size: 130%;
  line-height: 150%;
  margin-bottom: 5%;
  font-family: 'EB Garamond', serif;
  letter-spacing: 0px;
}

.more-about{
  background-color: rgba(255, 255, 255, 0.8);
  border-color: white;
  border-style: solid;
}

#res-main {
  text-align: center;
  margin: 5%;
}

.resume-header {
  font-size: 200%;
  text-align: center;
  margin: 0%;
}

.resume-subheader {
  color: #6C6B6B;
  margin: 0%;
  margin-top: 2%;
}

h2 {
  border-bottom: 2px solid;
  margin-right: 5%;
  border-color: #6C6B6B;
  font-weight: 100;
  text-align: left;
}

.section-title {
  margin-top: 25px;
  text-align: left;
  line-height: 120%;
}

.section-subtitle {
  color: #6C6B6B;
  text-align: left;
  line-height: 110%;
}

.section-info {
text-align: left;
line-height: 120%;
margin: 0px;
font-size: 17px;
}

#projects-main {
  background-image: url("project-back.jpg");
  background-size: cover;
  margin: 0%;
  padding-bottom: 10%;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.project {
  background-size: cover;
  height: 45%;
  width: 80%;
  margin: 4%;
}

#projects-title {
  padding-top: 5%;
  text-align: center;
  font-size: 400%;
  color: white;
  margin: 0%;
}

.project-title {
  background-size:cover;
  color: white;
  font-size: 400%;
  margin: 2%;
  padding-top: 20vh;
  padding-left: 3vh;
}

#projects p:hover {
  transform: scale(0.95);
  transition: 0.3s;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: top;
  
}

.modal-content {
  background-color: #fff;
  padding: 2em;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  align-items: center;
  margin: 3%;
  overflow-y: auto;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5em;
  cursor: pointer;
  color: black;
}

.modal-title {
  font-family:'Franklin Gothic Medium', Arial, sans-serif;
  font-weight: 900;
  font-size: 30px;
}

.modal-description {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}

.modal-technologies {
  font-family:'Franklin Gothic Medium', Arial, sans-serif;
  font-weight: 900;
  font-size: 30px;
}

.tech {
  margin: 0%;
  padding: 0%;
  text-indent: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

.highlight {
  font-weight: 500;
}

#contact-main {
  background-image: url("contact-back.jpg");
  background-size: cover;
  padding: 0%;
  margin: 0%;
}

.contact-sub {
  text-align: center;
  font-size: 20px;
  padding: 0%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
  margin: 0%;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.email {
  text-decoration: none;
  color: black;
}

#contact-title {
  padding: 5%;
  margin: 0%;
  margin-top: 3%;
  text-align: center;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  font-family: 'Roboto Slab', serif;
  font-size: 60px;
  letter-spacing: 6px;
}

#contact-head {
  display: flex;
  flex-direction: column;
  justify-content: center;   /* Horizontally centers the items */
  align-items: center;       /* Ensure the container takes the full height of the viewport */
  text-align: center;
  margin: 0%;
}


#form-sections {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#contact-main form input {
  width: 90%;
  height: 5vh;
  padding: 10px;
  margin-bottom: 3%;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  margin-left: 5%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#contact-main form textarea {
  width: 90%;
  height: 30vh;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  margin-left: 5%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#contact-main form button {
  width: 40%;
  height: 60px;
  background-color: #007BFF;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 3%;
  margin-left: 32%;
  margin-bottom: 15%;
}

#contact-main form button:hover {
  background-color: #0056b3;
}

@media (max-width: 400px) {
  .logo{
    font-size: 12px;
  }

  #sidenav a {
    font-size: 10px;
  }

  #sidenav a:hover {
    font-size: 10px;
  }

  #contact-main form {
    display: flex;
    flex-direction: column;
  }

  .profile{
    height: 200px;
    width: 250px;
  }

}

@media (max-width: 900px) {
  .about-box{
    display: flex;
    flex-direction: column;
  }

  .about-side{
    grid-row: 3;
    grid-column: 1;
    margin: 0%;
  }

  .about-sub{
    margin: 0%;
    margin-bottom: 10px;
    text-align: center;
  }

  .contact{
    margin: 0%;
    margin-bottom: 10px;
  }

  .about-title{
    align-self: center;
  }

  .profile{
    align-self: center;
  }

}

